@import '../../styles/_variables.scss';
$padtop: 6px;
.Editor {
	// .editor {
	// 	line-height: 1.1em;
	// }
    .header {
        background-color: white;
        width: 96%;
        margin: auto;
        padding: $padtop 0px;
        width: 100%;
        .header-wrapper-left {
						height: 100%;
						display: flex;
						flex-direction: row;
            .wrapper-logo {
                margin-right: 20px;
								height: 100%;
								flex: 0;
            }
            .wrapper-input {
								height: 100%;
								flex: 1;
                input {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    font-family: $font-family-Nunito;
                    max-width: 100%;
                    min-width: 240px;
										margin-right: 20px;
										height: 100%;
                    &::placeholder {
                        font-style: italic !important;
                        color: $gray;
                    }
                }
            }
        }
        .state {
            color: $gray;
            height: 100%;
            padding-top: $padtop;
        }
        .options {
            text-align: right;
            .btn {
                padding: 5px 16px;
                background-color: $color-primary;
                font-size: 14px;
                outline: none;
                border: 1.5px $color-primary solid;
                border-radius: 36px;
                font-family: $font-family-Nunito;
                font-weight: 900;
                color: white;
                cursor: pointer;
                i.fa {
                    margin-right: 8px;
                }
                &:hover {
                    background-color: white;
                    color: $color-primary;
                }
            }
            .badge {
                margin-right: 25px;
                height: 100%;
                font-size: 16px;
                text-align: center;
                span.number {
                    margin-right: 4px;
                    background-color: $color-primary;
                    color: white;
                    border-radius: 50%;
                    padding: 6px 12px;
                    font-weight: 900;
                }
                span.text {
                    color: $gray;
                    font-style: italic;
                }
            }
        }
    }
}
