@import '../../styles/_variables.scss';

.Home {
	background-size: 100%;
	min-height: 100vh;
	.wrapper {
		padding-top: 10px;
		text-align: center;

		h1.title {
			font-size: 4.2rem;
			font-family: 'Open Sans Condensed', sans-serif !important;
		}

		.input-group {
			font-size: 18px;
			background-color: $color-primary;
			color: white;
			display: inline-block;
			font-family: $font-family-Quicksand !important;
			padding: 8px 50px;
			border-radius: 40px;
			$mar-x: 5px;
			.text-fixed {
				margin-top: $mar-x;
				margin-bottom: $mar-x;
				margin-right: 5px;
			}
			input.inp {
				margin-top: $mar-x;
				margin-bottom: $mar-x;
				outline: none;
				font-family: $font-family-Quicksand !important;
				min-width: 60px;
				max-width: 100%;
				height: 100%;
				padding: 5px 12px;
				font-size: 18px;
				color: $gray;
				border-radius: 10px;
				border: none;
				background-color: darken($color-primary, 6%);
				color: white;
				&:placeholder {
					color: white;
				}
			}
			button {
				margin-left: 10px;
				cursor: pointer;
				background-color: $color-primary;
				color: white;
				outline: none;
				border: none;
				border-radius: 6px;
				font-size: 18px;
				padding: 8px 15px;
				transition-duration: 0.3s;
			}
		}

		.note {
			ul {
				margin-top: 50px;
				line-height: 1;
				text-align: justify;
				font-family: $font-family-Quicksand !important;
				h4 {
					font-weight: 300 !important;
				}
			}
		}

		@media screen and (max-width: 780px) {
			.input-group {
				width: 100%;
				text-align: center;
				.text-fixed, input, button {
					display: block;
					width: 100%;
				}
			}
		}

		@media screen and (max-width: 425px) {
			.title {
				font-size: 30px;
			}
			.note {
				ul {
					font-size: 14px !important;
				}
			}

			.input-group {
				font-size: 16px;
				padding-top: 20px;
				padding-bottom: 20px;
				.text-fixed {
					overflow: auto;
				}
			}
		}
	}

	.copyright {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		font-family: $font-family-Quicksand;
		a {
			font-weight: 900;
			text-decoration: none;
			color: white;
		}
		i {color: red; margin-left: 5px; margin-right: 5px; font-size: 20px}
	}

	.Home__change-bg {
		.Home__change-bg__btn {
			position: fixed;
			bottom: 35px;
			right: 35px;
			font-size: 24px;
			background-color: $color-primary;
			color: white;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			outline: none;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: darken($color: $color-primary, $amount: 15%)
			}
		}
	}


}
