@import './variables.scss';
@import './mixins.scss';
@import './classes.scss';

/**
|--------------------------------------------------
| You can style your app here
|--------------------------------------------------
*/

html,
body {
    width: 100% !important;
    height: 100% !important;
		font-size: $font-size;
		line-height: initial;
}

body {
		margin: 0px;
		padding: 0px;
		font-family: $font-family-Nunito;
		color: white;
		background-image: url("/img/bg.jpg");
}
