.App {
		width: 100%;
		height: 100%;
}

div.fr-wrapper>div>a {
		font-size: 0px !important;
		padding: 0px !important;
		height: 0px !important;
}

p {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
