@import '../../styles/_variables.scss';

.Navigator {
	.wrapper {
		padding-top: 10px;
		text-align: center;

		h1.title {
			font-size: 4.2rem;
			font-family: 'Open Sans Condensed', sans-serif !important;
		}

		.input-group {
			font-size: 18px;
			background-color: $color-success;
			color: white;
			display: inline-block;
			font-family: 'Quicksand', sans-serif !important;
			padding: 6px 30px;
			border-radius: 35px;
			$mar-x: 5px;
			.text-fixed {
				margin-top: $mar-x;
				margin-bottom: $mar-x;
				margin-right: 5px;
			}
			input.inp {
				margin-top: $mar-x;
				margin-bottom: $mar-x;
				outline: none;
				border: 1px solid $color-success;
				font-family: 'Quicksand', sans-serif !important;
				min-width: 80px;
				max-width: 100%;
				height: 100%;
				padding: 5px 12px;
				font-size: 18px;
				color: $gray;
				border-radius: 10px;
				background-color: darken($color-success, 6%);
				color: white;
				&:placeholder {
					color: white;
				}
			}
			button {
				margin-top: $mar-x;
				margin-bottom: $mar-x;
				margin-left: 5px;
				cursor: pointer;
				background-color: $color-success;
				color: white;
				outline: none;
				border: none;
				font-size: 18px;
				padding: 10px;
				padding-left: 40px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				position: relative;
				i.fa {margin-right:  5px;}
				span {
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
				}
			}
		}

		.note {
			ul {
				margin-top: 50px;
				line-height: 1;
				text-align: justify;
				font-family: 'Quicksand', sans-serif !important;
				h4 {
					font-weight: 300 !important;
				}
			}
		}

		@media screen and (max-width: 780px) {
			.input-group {
				width: 100%;
				text-align: center;
				.text-fixed, input, button {
					display: block;
					width: 100%;
					span  {
						position: absolute;
						left: calc(50% - 25px);
					}
				}
			}
		}

		@media screen and (max-width: 425px) {
			.title {
				font-size: 30px;
			}
			.note {
				ul {
					font-size: 14px !important;
				}
			}

			.input-group {
				font-size: 16px;
				padding-top: 20px;
				padding-bottom: 20px;
				.text-fixed {
					overflow: auto;
				}
			}
		}
	}


	.social {
		margin-top: 30px;
		text-align: center;
		.col-social {
			button {
				margin: 20px;
				border-radius: 50%;
				background-color: transparent;
				border: 2px solid white;
				color: white;
				font-size: 20px;
				width: 50px;
				height: 50px;
				position: relative;
				a {color: inherit !important;}
				i.fa {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:hover {
					transform: rotate(360deg);
					transition-duration: 0.5s;
					cursor: pointer;
					color: #5dff3c !important;
					border-color: #5dff3c;
				}
			}
		}
	}

	@media screen and (max-width: 780px) {
		.social {
			.col-social {display: block;}
		}
	}

	.copyright {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		font-family: 'Quicksand', sans-serif;
		a {color: rgb(255, 236, 236) !important}
	}
}
