@import './variables.scss';
@import './mixins.scss';
@import './classes.scss';

/**
|--------------------------------------------------
| You can style your app here
|--------------------------------------------------
*/

html,
body {
		width: 100%;
		height: 100%;
		font-size: $font-size;
}

body {
		margin: 0px;
		padding: 0px;
		font-family: $font-family-Nunito;
		color: white;
		background-color: darken($color: $color-primary, $amount: 30%);
}
